:root {
	--baseshadow: #111a 0px 6px 12px;
	--post-bg: #4f2a56dd;
	--html-bg: #88eeaa;
	--html-bg-img:	url(https://nicolassassoon.com/IMAGES/LAVA_11.gif) center fixed, 
					url(https://pixelqiwi.github.io/media/drOeNqh2zwQ.jpg) no-repeat center/768px fixed;
}