<html><head>
	<title>pixelqiwi: вставить текст</title>
	<link rel="stylesheet" type="text/css" href="../media/style-new.css">
	<link rel="stylesheet" type="text/css" href="../media/dinpro/dinpro.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Manrope" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="robots" content="noindex, nofollow">
</head>

<body>

<header class="shadow">
	<iframe title="header чтобы не ебаться" width="100%" height="32px" src="../menu.html"></iframe>
</header>

<content>
		<div class="content-container">
			<div class="content-holder shadow text-on-the-right" style="">
				<p class="content-text">вставить текст</p>
			</div>
			
			<div class="content-holder shadow double text-on-the-right">
			<div style="flex-direction:column">
				<p class="content-text">вставить текст</p>
				<div class="content-horizontal-divider"></div>
				<p class="content-text">вставить текст</p>
			</div>
				<div class="content-vertical-divider"></div>
			<div style="flex-direction:column">
				<p class="content-text">вставить текст</p>
				<div class="content-horizontal-divider"></div>
				<p class="content-text">вставить текст</p>
			</div>
				<div class="content-vertical-divider"></div>
				<p class="content-text">вставить текст</p>
			</div>
			
			<div class="content-holder shadow double text-on-the-right">
				<p class="content-text">вставить текст</p>
				<div class="content-vertical-divider"></div>
				<p class="content-text">вставить текст</p>
			</div>

		</div>

</content>

<footer>
	<div class="footer-grad">
		<div>©pixelqiwi group 2018-2021</div>
	</div>
</footer>

</body>

</html>