/*          __                       __                        2021
|<<' > \ / |   |    >>  > |   | >   |    |<<   >>  |  | |<<'       
|>>| |  <  |<< |   |  | | | < | |   | >> |>>| |  | |  | |>>|       
|    | / \ |__ |<<  <<\ | |/ \| |   '__| |  \  <<  '<<' |        */

/* основные вещи */

:root {
	--f1: "Manrope"; 	/* основной шрифт */
	
	--c1: #e1edf8; 		/*белый*/
	--c2: #6da7df;
	--c3: #286fb2;
	--c4: #174067;		/*серый*/
	--c5: #14395d;
	--c6: #102b46;
	--c7: #0c2135;		/*тёмно-серый*/
	--c8: #0a1b2d;
	--c9: #081623;
	--c10: #040a0f;		/*черный*/
	
	--c11: #08abe7;		/*голубой*/
	--c12: #068bc4;		/*тёмно голубой*/
	--c13: #035182;		/*синий*/
}

::selection {
  background: var(--c11) !important;
}
::-moz-selection {
  background: var(--c11);
}
:any-link {
	color: var(--c11);
	text-decoration: none;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

html {
	background: var(--c9);
	font-family: var(--f1);
	overflow-x: hidden;
	color: var(--c8)
}

body {
	margin: 0;
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

content {
	justify-content: center;
	display: flex;
}

div {
	display: flex;
}

iframe {
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}

/* хедер */

header {
	position: sticky;
	top: 0;
}

.header-container {
    height: 32px;
    width: -webkit-fill-available;
    background: var(--c6);
    display: flex;
	overflow: hidden;
	font-weight: bold;
	text-transform: uppercase;
    line-height: 32px;
}

.header-logo{
	width: 32px !important;
	height: 32px !important;
	background: var(--c4);
	max-width: 32px;
}

.header-middle{
	font-size: 16px;
	flex: 1;
	padding: 0 8px;
}

.header-middle-text{
	color: var(--c9);
	white-space: nowrap;
}

.header-middle-text-2{
	color: var(--c1);
}

.header-buttons{
}

.header-singular-button{
	background: var(--c4);
	height: 32px;
	width: 32px;
	transition: width 0.4s cubic-bezier(0, 1, 0.5, 1), background 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.header-singular-button:nth-child(even){
	background: var(--c6);
}

.header-singular-button:hover{
	background: var(--c11);
	cursor: pointer;
	width: 192px;
}

.header-singular-button-icon{
	max-height: 16px;
	max-width:16px;
	padding: 8px
}

.shadow {
	box-shadow: 0px 2px 8px 0px #00000080;
}

/* фейды */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* контент */

.content-container {
	display: grid;
	justify-content: center;
	grid-gap: 30px;
	max-width: 90vw;
	margin: 30px 0;
	grid-template-columns: repeat(auto-fit, 360px);
}

.content-holder {
    max-height: 320px;
    min-height: 320px;
    background: white;
    flex-direction: column;
    height: auto;
    justify-self: center;
    padding: 20px;
}

.content-text {
	text-align: justify;
	text-align-last: center;
}

.content-image {
	max-width: 320px;
	max-height: 320px;
}


.content-image-small {
	max-width: 150px;
	max-height: 150px;
}

.double {
	grid-column: auto / span 2;
}

.text-on-the-right {
	flex-direction: row;
	align-items: center;
}

.content-vertical-divider {
	width: 0px;
	min-height: inherit;
	margin: 0 10px;
	background: #002b36;
}

.content-horizontal-divider {
	width: 0px;
	min-width: inherit;
	margin: 10px 0;
	background: #002b36;
}

.center {
	text-align: center
	
}


.button-link {
	padding: 5px 10px;
	background: var(--c6);
	color: var(--c1);
	transition: background 0.1s linear, color 0.1s linear ;
}

.button-link:hover {
	background: var(--c11);
	color: var(--c9);
}


/* футер */


.footer-grad {
	position: fixed;
	width: -webkit-fill-available;
	height: 26px;
	justify-content: center;
	color: #ffffff50;
	bottom: 0;
	user-select: none;
	z-index: -9999
}

/* скролл */

html::-webkit-scrollbar,body::-webkit-scrollbar{width:1px!important;}
html::-webkit-scrollbar-track,body::-webkit-scrollbar-track{background-color:transparent;!important;}
html::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb{background-color:transparent;!important;outline:none!important;}
