html {
	min-width: 100%
}

body {
	margin: 0;
	display: flex;
}

header {
	display: flex
}

.wtopleft {
	background-color: red;
	min-width: -webkit-fill-available;
	flex: 5;
}

.wtopright {
	background-color: green;
	min-width: -webkit-fill-available;
	flex: 5;
}