@font-face {
    font-family: 'LCD';
    src: url('LCD14.eot');
    src: url('LCD14.eot?#iefix') format('embedded-opentype'),
        url('LCD14.woff2') format('woff2'),
        url('LCD14.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

