@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Bold.woff2') format('woff2'),
        url('DINPro-Bold.woff') format('woff'),
        url('DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Regular.woff2') format('woff2'),
        url('DINPro-Regular.woff') format('woff'),
        url('DINPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Black.woff2') format('woff2'),
        url('DINPro-Black.woff') format('woff'),
        url('DINPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

